@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --headings-color: #003844; /* headings */
    --secondary-color: #006C67; /* */
    --accent-color: #F194B4; /* */
    --links-color: #7f4c00; /* links */
    --background-color: #FFEBC6; /* background */

    --headings-font: 'Lora', serif;
    --text-font: 'Montserrat', sans-serif;
    --links-font: 'Montserrat Alternates', sans-serif; 
}
h1, h2, h3, h4, h5, h6 {
    color: var(--headings-color);
    font-family: var(--headings-font);
}
p {
    font-family: var(--text-font);
}
a {
    text-decoration: none;
    color: var(--links-color);
    font-family: var(--links-font);
    font-weight: 400;
    font-size: 24px;
    padding: 5px;    
}

body {
    background: var(--background-color);
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 1rem;
}
header h1 {
    color: var(--primary-color);
    font-family: var(--headings-font);
    font-size: 32px;
}
header img {
    width: 7vw;
    border: 2px solid var(--links-color);
    border-radius: 200px;
}

nav {
    display: flex;
    gap: 50px;
    padding-right: 50px;
}
nav a{
    font-weight: 500;
}
nav a:hover {
    font-weight: 600;
    text-decoration: underline;
    
}
#menu-btn {
    display: none;
}
#overlay {
    display: none;
}
.hero-block {
    display: flex;
    padding: 0 50px;
    justify-content: center;
    gap: 50px;
}
.hero-image {
    border-radius: 50px;
    height: 70vh;
}
.hero-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-heading {
    font-size: 34px;
    padding-bottom: 12px;
    text-align: center;
    text-decoration: underline;
}
.hero-description-content {
    line-height: 2;
    font-size: 20px; 
    color: var(--secondary-color);
}
.call-to-action-btn {
    color: var(--background-color);
    background-color: var(--links-color);
    outline: none;
    padding: 16px;
    margin-top: 10px;
    border-radius: 50px;
    border: 1px solid var(--links-color);
    font-size: 26px;
    font-family: var(--links-font);
}
.call-to-action-btn:hover {
    background-color: var(--background-color);
    color: var(--links-color);
}
#events {
    margin-top: 75px;
    padding: 0 50px;
}
.events-heading {
    text-align: center;
    font-size: 34px;
    text-decoration: underline;
    margin-bottom: 15px;
}
.events {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.event-card {
    border: 1px solid black;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.event-heading {
    font-size: 24px;
    margin-bottom: 15px;
}
.event-description {
    font-size: 18px;
    color: var(--secondary-color);
}
.event-button {
    color: var(--background-color);
    background-color: var(--links-color);
    padding: 16px 32px;
    margin-top: 16px;
    border-radius: 50px;
    border: 1px solid var(--links-color);
    font-size: 20px;
    font-family: var(--links-font);
}
.event-button:hover {
    background-color: var(--background-color);
    color: var(--links-color);
}
#weather, #spotlights {
    padding: 15px 50px;
    margin-top: 15px;
}
.weather-heading, .spotlights-heading {
    text-align: center;
    font-size: 34px;
    text-decoration: underline;
}
.weather p{
    width: 100vw;
    text-align: center;
}
footer {
    background-color: var(--secondary-color);
    padding: 20px 0;
}
.footer-name, .footer-course, .footer-date {
    color: var(--background-color);
    text-align: center;
    font-size: 24px;
    font-family: var(--text-font);
    font-weight: 400;
}

.main {
    display: flex;
}
.side-bar {
    padding-left: 15px;
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.events-list {
    font-family: var(--text-font);
    color: var(--links-color);
    padding-left: 25px;
    margin-bottom: 15px;
}
.events-list a{
    font-size: 15px;
}
.local-pictures {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.local-pictures img {
    width: 250px;
    margin-right: 15px;
    margin-bottom: 15px;
}

#form {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: var(--text-font);
}
#form label {
    font-family: var(--headings-font);
    font-size: 18px;
    margin-top: 15px;
}
#form input, #form select {
    text-align: center;
    padding: 3px 5px;
}
textarea {
    text-align: center;
    padding: 3px 5px;
    resize: none;
    width: 50vw;
    height: 100px;
    font-size: 18px;
    font-family: var(--links-font);
}
.form-button {
    margin: 16px;   
    padding: 10px 40px;
    border: 0;
    font-size: 18px;
    font-family: var(--links-font);
    background-color: var(--links-color);
    color: var(--background-color);
    border-radius: 15px;
}

.thankyou {
    text-align: center;
    margin: 60px;
}

#card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
}
#card img {
    width: 75vw;
}