@media (max-width: 800px) {
    header h1 {
        font-size: 20px;
        text-align: center;
    }
    header img {
        width: 10vw;
    }
    nav a{
        display: none;
    }
    #menu-btn {
        display: block;
        font-size: 36px;
        cursor: pointer;
    }
    #overlay {
        margin-left: -30px;
        margin-bottom: 20px;
    }
    .hero-block {
        display: flex;
        flex-direction: column;
    }
    .hero-image {
        height: 100%;
    }
    .hero-block {
        gap: 10px;
        padding: 0 25px;
    }
    .hero-heading {
        font-size: 24px;
        padding-bottom: 2px;
    }
    .hero-description-content {
        line-height: 1.25;
        font-size: 18px; 
    }
    .call-to-action-btn {
        padding: 16px;
        margin-top: 10px;
        font-size: 18px;
    }
    .hero-description-content span {
        display: none;
    }
    #events {
        margin-top: 25px;
    }
    .events-heading {
        font-size: 24px;
    }
    .events {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .event-card {
        width: 100%;
    }
}