@media (max-width: 800px) {
    header h1 {
        font-size: 20px;
        text-align: center;
    }
    header img {
        width: 10vw;
    }
    nav a{
        display: none;
    }
    #menu-btn {
        display: block;
        font-size: 36px;
        cursor: pointer;
    }
    .hero-image {
        border-radius: 50px;
        height: 40vh;
    }
    .hero-block {
        gap: 10px;
        padding: 0 25px;
    }
    .hero-heading {
        font-size: 24px;
        padding-bottom: 2px;
    }
    .hero-description-content {
        line-height: 1.25;
        font-size: 15px; 
    }
    .call-to-action-btn {
        padding: 8px;
        margin-top: 5px;
        font-size: 15px;
    }
    .hero-description-content span {
        display: none;
    }
}