@media (max-width: 800px) {
    main {
        display: block;
        width: 75%;
    }
    .card {
        margin: 25px;
    }
    .mobile-temple-picture{
        display: block;
        width: 100%;
    }
    .desktop-temple-picture {
        display: none;
    }
}