@media (max-width: 800px) {
    main {
        display: block;
        width: 75%;
    }
    .card {
        margin: 25px;
    }
    .mobile-temple-picture{
        display: block;
        width: 100%;
    }
    .desktop-temple-picture {
        display: none;
    }
    .herolabel {
        position: absolute;
        text-align: center;
        width: 150px;
        height: 150px;
    }
    
    .herolabel p {
        margin: 0;
        padding: .25rem;
        font-weight: 700;
        font-size: 2rem;
        font-family:"Great Vibes", serif;
    }
    iframe  {
        width: 90vw;
        height: 50vh;
    }
}